.bookmark__button {
  outline: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--opaque-blue-950);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.bookmark__button:hover{
  cursor: pointer;
}