.recommended__thumbnail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image__container {
  display: flex;
  height: 110px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.thumbnail__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.thumbnail__details {
  color: var(--opaque-white);
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.thumbnail__title {
  font-size: 14px;
}

/* .thumbnail__bookmark {
  position: absolute;
  top: 0;
  left: 0;
} */

@media only screen and (min-width: 768px){
  .image__container {
    height: 140px;
  }
}

@media only screen and (min-width: 1440px){
  .image__container {
    height: 174px;
  }
}