
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.main {
  padding: 24px 16px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__search{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.search__icon{
  height: 24px;
  width: 24px;
}

.input__search{
  width: 100%;

  height: 24px;
  background: none;
  outline: none;
  border: none;
  color: var(--white);
}

.input__search:-webkit-autofill,
.input__search:-webkit-autofill:hover,
.input__search:-webkit-autofill:focus,
.input__search:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--blue950) inset !important;
  -webkit-text-fill-color: var(--white) !important;
  caret-color: var(--white);
  transition: background-color 5000s ease-in-out 0s;
}

.trending {

}

.section__title{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 16px;
}

.recommended__title {
  margin-bottom: 24px;
}

.recommended__grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 16px;
}