:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #fff;
  --blue950: #10141E;
  --opaque-blue-950: rgb(16, 20, 30, 50%);
  --blue900: #161D2F;
}

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--blue950);
  color: var(--white);
  
}



@media (prefers-color-scheme: light) {
  :root {
    
  }
  
}
